NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://user:password@localhost/geoc_db?statusColor=&env=local&name=geoc_db&tLSMode=0&usePrivateKey=false&safeModeLevel=0&advancedSafeModeLevel=0&driverVersion=0&showSystemSchemas=0&driverVersion=0&lazyload=False
JWT_SECRET=chaine_d_au_moins_30_caracteres
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=30d
IMAP_USER=adjarichard58@gmail.com
IMAP_PASSWORD=ezhy ppff zsui qpti
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_JOB_FREQUENCE=5